columns:
    id:
        label: Id
        name: id
        type: integer
        builder: simple
        options:
            listable: true
            editable: false
            sortable: true
            filterable: true
    title:
        label: Title
        name: title
        type: string
        builder: simple
        options:
            listable: true
            editable: true
            sortable: true
            filterable: true
    description:
        label: Description
        name: description
        type: text
        builder: simple
        options:
            listable: false
            editable: true
            sortable: true
            filterable: true
    time:
        label: Time
        name: time
        type: integer
        builder: simple
        options:
            listable: true
            editable: true
            sortable: true
            filterable: true
    num_questions:
        label: 'Number of questions'
        name: num_questions
        type: integer
        builder: simple
        options:
            listable: true
            editable: true
            sortable: true
            filterable: true
    is_active:
        label: Active
        name: is_active
        type: boolean
        builder: simple
        options:
            listable: true
            editable: true
            sortable: true
            filterable: true
    is_opened:
        label: Opened
        name: is_opened
        type: boolean
        builder: simple
        options:
            listable: true
            editable: true
            sortable: true
            filterable: true
actions:
    assign:
        label:   Assign
        name:    assign
        route:   admin_quiz_assign
        builder: object
        options:
            route_with_id: true
            confirmation: true
    new:
        route: admin_quiz_new
        extends: new
    edit:
        route: admin_quiz_edit
        extends: edit
    delete:
        route: admin_quiz_delete
        extends: delete
